Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
configure
configure.in~
depcomp
doc/Makefile
doc/Makefile.in
doc/de/Makefile
doc/de/Makefile.in
doc/de/figure/Makefile
doc/de/figure/Makefile.in
doc/en/Makefile
doc/en/Makefile.in
doc/en/figure/Makefile
doc/en/figure/Makefile.in
install-sh
installer/Makefile
installer/Makefile.in
installer/rpm/Makefile
installer/rpm/Makefile.in
installer/win32/Makefile.in
installer/win32/gennsh
installer/win32/locale/Makefile
installer/win32/locale/Makefile.in
installer/win32/locale/de.nsh
installer/win32/messages.mo
missing
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
src/.deps/
src/InpToolsExt/Makefile
src/InpToolsExt/Makefile.in
src/Makefile
src/Makefile.in
stamp-h1
